<div class="column is-half is-offset-one-quarter">

    <div class="columns">
        <div class="field is-horizontal">
            <div class="column" style="padding-bottom: 0; padding-right: 0;">
                <div class="field-label is-normal">
                    <label class="label">Username</label>
                </div>
            </div>

            <div class="column is-half" style="padding-bottom: 0;">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="columns">
        <div class="field is-horizontal">
            <div class="column" style="padding-bottom: 0; padding-right: 0;">
                <div class="field-label is-normal">
                    <label class="label">Password</label>
                </div>
            </div>

            <div class="column is-half" style="padding-bottom: 0;">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="field is-horizontal">
        <div class="column is-half" style="padding: 0;" style="padding-bottom: 0; padding-top: 0;">
            <div class="field-label is-normal" style="width: 25vw;">
                <!-- Left empty for spacing -->
            </div>
        </div>

        <div class="column" style="padding-bottom: 0; padding-top: 0;">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-dark">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>