<div class="flex-row d-flex align-items-center justify-content-center min-vh-100 text-center">
    <div class="flex-col">

        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="d-flex flex-row align-items-left">
                <label class="form-label fw-bold">Username</label>
            </div>
            <div class="control mb-2">
                <input class="input form-control ps-2 pe-2" type="text" formControlName="username">
            </div>

            <div class="d-flex flex-row align-items-left">
                <label class="form-label fw-bold">Password</label>
            </div>
            <div class="control mb-2">
                <input class="input form-control ps-2 pe-2" type="password" formControlName="password">
            </div>

            <div class="d-flex flex-row justify-content-center mt-2">
                <button class="btn btn-dark rounded-1" type="submit" routerLink="/main" routerLinkActive="active"><strong>Login</strong></button>
            </div>

        </form>

    </div>
</div>