<div class="container-fluid p-0 col-lg-10 col-xxl-8">


    <div class="row m-0 mt-2">
        <div class="col-md-10 col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-12">

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Search selection
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li *ngFor="let item of items">
                                <a class="dropdown-item" (click)="setSelectedSearch(item)">{{item}}</a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class="col-md-9 col-sm-12">

                    <div class="control flex-fill mb-2">
                        <input class="input form-control ps-2 pe-2" type="text" formControlName="username" placeholder="{{selectedSearch}}">
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-2 col-sm-12">

            <button class="btn btn-dark rounded-1 mb-4" (click)="onUserSearch()"
                data-target="userInfoModal"><strong>Search</strong>
            </button>

        </div>

    </div>



    <div class="row align-items-center">

        <div class="col justify-content-left">
            <p class="modal-card-title">{{userBio}}</p>
        </div>
        <div class="col">
            <p class="image is-96x96">
                <img src={{userImage}} alt="">
            </p>
        </div>

    </div>


</div>