<div class="field is-horizontal">
    <div class="field-label is-normal" style="width: 25vw;"> <!-- vw = Relative to 1% of the width of the viewport -->
        <label class="label">Username</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Name">
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal" style="width: 25vw;">
        <label class="label">Password</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" placeholder="*************">
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <button class="button is-dark">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>

