<div class="container">
    <div class="field is-vertical">

        <div class="column has-background-info">
            <div class="field is-horizontal has-background-success">
                <div class="field-label is-normal">
                    <label class="label">User</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="User name">
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal has-background-warning">
                <div class="field-label is-normal">
                    <label class="label">Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="******">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>