<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">User</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Password</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" placeholder="*************">
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label">
        <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <button class="button is-primary">
                    Login
                </button>
            </div>
        </div>
    </div>
</div>