<div class="field">
    <label class="label">Username</label>
    <div class="control">
        <input class="input" type="text">
    </div>
</div>

<div class="field">
    <label class="label">Password</label>
    <div class="control">
        <input class="input" type="password">
    </div>
</div>

<div class="field">
    <label class="label">Confirm Password</label>
    <div class="control">
        <input class="input" type="password">
    </div>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control">
        <input class="input" type="email">
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="button is-dark">Submit</button>
    </div>
    <div class="control">
        <button class="button is-grey is-light">Cancel</button>
    </div>
</div>