<div class="container-fluid p-0 m-0">
    <div class="row min-vh-100 align-items-center text-center">
        <div class="d-flex col-md-4 col-lg-12 justify-content-center mt-2 mb-2">
            <app-search-theme-card [theme]="userSearchTheme" [description]="userThemeDescription"
                [image]="userSearchImage"></app-search-theme-card>
        </div>
        <div class="d-flex col-md-4 col-lg-12 justify-content-center mt-2 mb-2">
            <app-search-theme-card [theme]="shipSearchTheme" [description]="shipThemeDescription"
                [image]="shipSearchImage"></app-search-theme-card>
        </div>
        <div class="d-flex col-md-4 col-lg-12 justify-content-center mt-2 mb-2">
            <app-search-theme-card [theme]="organizationSearchTheme" [description]="organizationThemeDescription"
                [image]="organizationSearchImage"></app-search-theme-card>
        </div>
    </div>
</div>