<div class="flex-row d-flex align-items-center justify-content-center min-vh-100 text-center">
    <div class="flex-col">

        <div class="d-flex flex-row align-items-left">
            <label class="form-label fw-bold">Search User</label>
        </div>
        <div class="control mb-2">
            <input class="input form-control ps-2 pe-2" type="text" formControlName="username">
        </div>

        <div class="d-flex flex-row justify-content-center mt-2">
            <button class="btn btn-dark rounded-1 mb-4" (click)="onUserSearch()"
                data-target="userInfoModal"><strong>Search</strong></button>
        </div>

        <div class="d-flex flex-row align-items-left">
            <label class="form-label fw-bold">Search Ship</label>
        </div>
        <div class="control mb-2">
            <input class="input form-control ps-2 pe-2" type="text" formControlName="shipname">
        </div>

        <div class="d-flex flex-row justify-content-center mt-2">
            <button class="btn btn-dark rounded-1 mb-4" data-target="userInfoModal"><strong>Search</strong></button>
        </div>

        <div class="d-flex flex-row align-items-left">
            <label class="form-label fw-bold">Search Organization</label>
        </div>
        <div class="control mb-2">
            <input class="input form-control ps-2 pe-2" type="text" formControlName="organizationname">
        </div>

        <div class="d-flex flex-row justify-content-center mt-2">
            <button class="btn btn-dark rounded-1 mb-4" data-target="userInfoModal"><strong>Search</strong></button>
        </div>


        <div class="d-flex flex-row align-items-left justify-content-center">
            <div class="d-flex flex-col justify-content-center">
                <p class="modal-card-title">{{userBio}}</p>
                <p class="image is-96x96">
                    <img src={{userImage}} alt="">
                </p>
            </div>
        </div>

    </div>

</div>
