<div class="flex-row d-flex min-vh-100 align-items-center justify-content-center text-center">
    <div class="flex-col">
        <app-search-theme-card [theme]="userSearchTheme" [description]="userThemeDescription" [image]="userSearchImage"></app-search-theme-card>
        <app-search-theme-card [theme]="shipSearchTheme" [description]="shipThemeDescription" [image]="shipSearchImage"></app-search-theme-card>
        <app-search-theme-card [theme]="organizationSearchTheme" [description]="organizationThemeDescription" [image]="organizationSearchImage"></app-search-theme-card>
    </div>
</div>